<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BackgroundRealm_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BackgroundRealm_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BackgroundRealm_tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BackgroundRealm_watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOS Example.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>macOS Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tvOS Example.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65982B0520DFF9C70018F790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65982B1B20DFFC830018F790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65982B4220DFFD3E0018F790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65982B5520DFFD5A0018F790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DB01BC20E0000400F514EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DB01CA20E0005500F514EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DB01D820E0009200F514EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DB025620E0452800F514EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65DB026620E0462B00F514EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
